rules/rules.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT Rules (General, VictoryTypes?, ArtifactTypes?, SettlementTypes?, ResourceTypes?, UnitTypes?, UnitCategories?, BuildingTypes?, BuildingCategories?, BuildingGroups?, QueueCategories?, QueueTypes?, ScienceTypes?, ScienceCategories?, MundaneRanks?, SacredRanks?, AssignmentTypes?, SpecialAssignmentTypes?, TreasureTypes?)>
<!ATTLIST Rules
  xmlns:xi CDATA #REQUIRED
>

<!ELEMENT General (Game, Version, AppControl, Languages, Domains, Battle, CharacterCreation, ConstructionSpeedup, TrainingSpeedup, ArtifactInitiationSpeedup, TradingSpeedupCost, AvatarConfigs, ChangeCharacterName, ChangeCharacterGender, ResourceExchange, BuildingConversion, BuildingExperienceFormula, AllianceMaxMembers, SpecialAssignments, SlotBubbles, SpecialOffer)>


<!ELEMENT Game (#PCDATA)>
<!ATTLIST Game 
  branch CDATA #REQUIRED
  tag CDATA #IMPLIED
>
<!ELEMENT Version EMPTY>
<!ATTLIST Version
  major CDATA #REQUIRED
  minor CDATA #REQUIRED
  build CDATA #REQUIRED
>

<!ELEMENT AppControl (SpecialOfferDialog)>
<!ATTLIST AppControl
  debugTracking      (0 | 1) "0"
>

<!ELEMENT SpecialOfferDialog EMPTY>
<!ATTLIST SpecialOfferDialog
  enabled                (0 | 1) "0"
  requiredFinishedQuests CDATA #REQUIRED
>

    <!--Languages-->
<!ELEMENT Languages (Language*)>
<!ELEMENT Language (#PCDATA)>
<!ATTLIST Language locale ID #REQUIRED>

<!ELEMENT Domains (Domain*)>
<!ELEMENT Domain EMPTY>
<!ATTLIST Domain id ID #REQUIRED>

<!--Battle-->
<!ELEMENT Battle (Calculation)>
<!ELEMENT Calculation EMPTY>
<!ATTLIST Calculation 
  roundTime CDATA "30"
  retreatProbability CDATA "0.6"
>

<!ELEMENT BuildingExperienceFormula (#PCDATA)>

<!ELEMENT AllianceMaxMembers (#PCDATA)>

<!ELEMENT SpecialAssignments (SpecialAssignmentIdleProbability, SpecialAssignmentIdleTime)>
<!ELEMENT SpecialAssignmentIdleProbability (#PCDATA)>
<!ELEMENT SpecialAssignmentIdleTime (#PCDATA)>

<!ELEMENT SlotBubbles (BubbleIdleProbability, BubbleResource, BubbleXP, BubbleTestDuration)>
<!ELEMENT BubbleIdleProbability (#PCDATA)>
<!ELEMENT BubbleResource EMPTY>
<!ATTLIST BubbleResource
  percentage CDATA #REQUIRED
>
<!ELEMENT BubbleXP EMPTY>
<!ATTLIST BubbleXP
  amount      CDATA #REQUIRED
  probability CDATA #REQUIRED
>
<!ELEMENT BubbleTestDuration EMPTY>
<!ATTLIST BubbleTestDuration
  min CDATA #REQUIRED
  max CDATA #REQUIRED
>

<!ELEMENT SpecialOffer (Outpost, StartResource*, ProductionStartBonus*, ConstructionStartBonus*, DisplayStrings*)>

<!ELEMENT Outpost (Slot*)>

<!ELEMENT Slot EMPTY>
<!ATTLIST Slot
  slotNum CDATA #REQUIRED
  id IDREF #REQUIRED
  level CDATA "1"
>

<!ELEMENT DisplayStrings (DisplayString*)>
<!ATTLIST DisplayStrings
  lang IDREF "en_US"
>

<!ELEMENT DisplayString (#PCDATA)>


<!ELEMENT AvatarConfigs (AvatarConfig*)>

<!ELEMENT AvatarConfig (AvatarLayer+)>
<!ATTLIST AvatarConfig
  gender CDATA #REQUIRED
>

<!ELEMENT AvatarLayer (Name+)>
<!ATTLIST AvatarLayer
  max      CDATA #REQUIRED
  optional (true | false) "false"
  id       CDATA #REQUIRED
  chars    (1|2) "1"
>
<!ELEMENT ChangeCharacterName EMPTY>
<!ATTLIST ChangeCharacterName
  free_changes CDATA #REQUIRED
  resource     IDREF #REQUIRED
  amount       CDATA #REQUIRED
>
<!ELEMENT ChangeCharacterGender EMPTY>
<!ATTLIST ChangeCharacterGender
  free_changes CDATA #REQUIRED
  resource     IDREF #REQUIRED
  amount       CDATA #REQUIRED
>
<!ELEMENT ResourceExchange EMPTY>
<!ATTLIST ResourceExchange
  resource    IDREF #REQUIRED
  amount      CDATA #REQUIRED
>

<!--CharacterCreation-->
<!ELEMENT CharacterCreation (StartResource*)>
<!ELEMENT StartResource (#PCDATA)>
<!ATTLIST StartResource
  id IDREF #REQUIRED
>

<!ELEMENT BuildingConversion (CostFactor, TimeFactor)>
<!ELEMENT CostFactor (#PCDATA)>
<!ELEMENT TimeFactor (#PCDATA)>


<!--Types-->
<!ELEMENT VictoryTypes (Victory*)>
<!ELEMENT ResourceTypes (Resource*)>
<!ELEMENT AssignmentTypes (AssignmentType*)>
<!ELEMENT SpecialAssignmentTypes (SpecialAssignmentType*)>
<!ELEMENT TreasureTypes (TreasureType*)>
<!ELEMENT SettlementTypes (Settlement*)>
<!ELEMENT BuildingTypes (Building*)>
<!ATTLIST BuildingTypes
  xmlns:xi CDATA #REQUIRED
>

<!ELEMENT BuildingCategories (BuildingCategory*)>
<!ELEMENT BuildingGroups (BuildingGroup*)>
<!ELEMENT ScienceCategories (ScienceCategory*)>
<!ELEMENT ScienceTypes (Science*)>
<!ELEMENT UnitTypes (Unit*)>
<!ATTLIST UnitTypes
  xmlns:xi CDATA #REQUIRED
>

<!ELEMENT UnitCategories (UnitCategory*)>
<!ELEMENT QueueTypes (Queue*)>
<!ELEMENT QueueCategories (QueueCategory*)>

<!--Resource-->
<!ELEMENT Resource (Name+, Flavour+, Description+)>
<!ATTLIST Resource 
  id ID #REQUIRED 
  hidden (0 | 1) "0"
	ratingValue CDATA "1"
	stealable (true | false) "true"
	taxable (true | false) "true"
	tradable (true | false) "true"
>

<!--Settlements-->
<!ELEMENT Settlement (Name+, Description+, ShortDescription*, ChangeCost?, BuildingSlot*)>
<!ATTLIST Settlement 
  id ID #REQUIRED
	conquerable (true | false) "false"
	destroyable (true | false) "false"
>

<!ELEMENT ChangeCost EMPTY>
<!ATTLIST ChangeCost
  free_changes    CDATA #REQUIRED
  resource        IDREF #REQUIRED
  amount          CDATA #REQUIRED
>


<!ELEMENT BuildingSlot (BuildingOption+)>
<!ATTLIST BuildingSlot 
	number CDATA #REQUIRED
	max-level CDATA #REQUIRED 
	building IDREF #IMPLIED 
	level CDATA "0" 
	takeoverLevelFactor CDATA "1"
>

<!ELEMENT BuildingOption EMPTY>
<!ATTLIST BuildingOption 
	category IDREF #REQUIRED 
>


<!ELEMENT ArtifactTypes (Artifact*)>
<!ELEMENT Artifact (Name+, Description+, ShortDescription*, Flavour+, Initiation, ArtifactAmount, ExperienceProduction?, Effects)>

<!ATTLIST Artifact
  id ID #REQUIRED
>
<!ELEMENT ArtifactAmount (#PCDATA)>

<!ELEMENT Initiation (Description+, InitiationCost+, InitiationTime)>

<!ELEMENT InitiationCost (#PCDATA)>
<!ATTLIST InitiationCost
  id IDREF #REQUIRED
  round (true | false) "true"
>

<!ELEMENT InitiationTime (#PCDATA)>
<!ATTLIST InitiationTime
  shortenable (true | false) "true"
>

<!ELEMENT Effects (ProductionBonus*, ConstructionBonus*)>

<!ELEMENT Victory (Name+, Description+, ShortDescription*, Condition)>
<!ATTLIST Victory 
  id ID #REQUIRED
>
<!ELEMENT Condition (RequiredRegionsRatio?)>
<!ATTLIST Condition 
	duration CDATA #REQUIRED 
>

<!ELEMENT RequiredRegionsRatio (#PCDATA)>

<!--Abilities of Buildings, Sciences-->
<!ELEMENT Abilities (UnlockGarrison*, GarrisonSizeBonus*, ArmySizeBonus*, CommandPoints*, UnlockQueue*, SpeedupQueue*, UnlockDiplomacy*, DefenseBonus?, TradingCarts?, UnlockP2PTrade?, PreventTakeover?, UnlockBuildingSlots?, UnlockArtifactInitiation?, AllianceExtension?, AssignmentLevel?)>

<!ELEMENT PreventTakeover EMPTY>
<!ATTLIST PreventTakeover 
  level	CDATA "1"
>

<!ELEMENT UnlockP2PTrade EMPTY>
<!ATTLIST UnlockP2PTrade 
  level	CDATA "1"
>

<!ELEMENT UnlockGarrison EMPTY>
<!ATTLIST UnlockGarrison 
  level	CDATA "1"
>

<!ELEMENT UnlockQueue EMPTY>
<!ATTLIST UnlockQueue 
  queue IDREF #REQUIRED 
  level	CDATA "1"
>

<!ELEMENT SpeedupQueue (#PCDATA)>
<!ATTLIST SpeedupQueue 
  queue IDREF #REQUIRED 
  domain IDREF "settlement"
>

<!ELEMENT UnlockDiplomacy EMPTY>
<!ATTLIST UnlockDiplomacy 
  level CDATA "1" 
  foundAllianceLevel CDATA "5"
>

<!ELEMENT TradingCarts (#PCDATA)>

<!ELEMENT UnlockBuildingSlots (#PCDATA)>

<!ELEMENT CommandPoints (#PCDATA)>

<!ELEMENT GarrisonSizeBonus (#PCDATA)>

<!ELEMENT DefenseBonus (#PCDATA)>

<!ELEMENT ArmySizeBonus (#PCDATA)>

<!ELEMENT AssignmentLevel (#PCDATA)>

<!ELEMENT UnlockArtifactInitiation (#PCDATA)>

<!ELEMENT AllianceExtension (#PCDATA)>

<!--Buildings-->

<!ELEMENT BuildingCategory (Name+, Description+, ShortDescription*, Position?)>
<!ATTLIST BuildingCategory 
  id ID #REQUIRED 
>

<!ELEMENT BuildingGroup EMPTY>
<!ATTLIST BuildingGroup 
  id ID #REQUIRED 
>

<!ELEMENT Building (Name+, Description+, ShortDescription*, Flavour+, Position?, Population?, RequirementGroup*, Cost*, ProductionTime, Capacity*, Production*, ExperienceProduction?, ProductionBonus*, Abilities, ConversionOption?)>

<!ATTLIST Building 
  id ID #REQUIRED 
  category IDREF #REQUIRED
  group IDREF #REQUIRED
	buyable (false | true) "true"
	demolishable (false | true) "true"
	destructable (false | true) "true"
	takeoverDestroy CDATA "false"
	takeoverDowngradeByLevels CDATA "1"
	experienceFactor CDATA "1"
  hidden (0 | 1) "0"
	tier CDATA #IMPLIED
  divine_supporters_only CDATA "false"
	xml:base CDATA #REQUIRED
>


<!ELEMENT AssignmentType (Name+, Flavour+, ShortDescription*, Description+, Cost*, UnitDeposit*, Rewards, Duration)>

<!ATTLIST AssignmentType 
  id ID #REQUIRED 
  advisor CDATA "chef"
  level CDATA #REQUIRED
>


<!ELEMENT SpecialAssignmentType (Name+, Flavour+, ShortDescription*, Description+, AssignmentTests?, Cost*, UnitDeposit*, SpecialAssignmentRewards, Duration, DisplayDuration)>

<!ATTLIST SpecialAssignmentType
  id                 ID    #REQUIRED
  advisor            CDATA "chef"
  level              CDATA #REQUIRED
  probability_factor CDATA #REQUIRED
>

<!ELEMENT TreasureType (Difficulty, Name+, Flavour+, ShortDescription*, Description+, TreasureRewards)>

<!ATTLIST TreasureType
  id                 ID    #REQUIRED
  advisor            CDATA "chef"
  probability_factor CDATA #REQUIRED
>

<!ELEMENT Difficulty (#PCDATA)>


<!ELEMENT TreasureRewards (RandomizedResourceReward*, RandomizedExperienceReward?)>


<!ELEMENT Population (#PCDATA)>

<!ELEMENT ConversionOption EMPTY>
<!ATTLIST ConversionOption
  building CDATA #REQUIRED
  level CDATA #REQUIRED
>


<!--CharacterRanks-->
<!ELEMENT MundaneRanks (MundaneRank*)>
<!ATTLIST MundaneRanks
  skillPointsPerRank CDATA "1"
>

<!ELEMENT MundaneRank (Name+)>
<!ATTLIST MundaneRank 
  exp CDATA #REQUIRED
  settlementPoints CDATA #REQUIRED
  minimumSacredRank CDATA #REQUIRED
>

<!ELEMENT SacredRanks (SacredRank*)>
<!ATTLIST SacredRanks
  skillPointsPerRank CDATA "1"
>

<!ELEMENT SacredRank (Name+, Cost*, ItemCost*)>
<!ELEMENT ItemCost (#PCDATA)>
<!ATTLIST ItemCost
  id CDATA #REQUIRED
  round CDATA #REQUIRED
>


<!--Science-->
<!-- Hack for Validation -->
<!ELEMENT ScienceCategory (#PCDATA)>
<!ATTLIST ScienceCategory
  id ID #REQUIRED
>

<!ELEMENT Science (Name+, Flavour+, Description+, ShortDescription*, Position?, Cost*, ProductionTime, RequirementGroup*)>
<!ATTLIST Science id ID #REQUIRED hidden (0 | 1) "0">

<!--Units-->
<!ELEMENT UnitCategory (Name+, Description+, ShortDescription*, Position?, Ability*, TargetPriorities?)>
<!ATTLIST UnitCategory 
  id ID #REQUIRED 
>
<!ELEMENT Unit (Name+, Description+, ShortDescription*, Flavour+, Position?, Cost*, ProductionTime, Velocity, ActionPoints, Initiative, Attack, CriticalDamage, Armor, Overrunnable, Hitpoints, Effectiveness*, Encumbrance*, RequirementGroup*, CanCreate?)>
<!ATTLIST Unit 
  id ID #REQUIRED 
  category IDREF #REQUIRED
  trainable (false|true) "true"
  experienceFactor CDATA "1.0"
	xml:base CDATA #REQUIRED
>

<!ELEMENT TargetPriorities (TargetList+)>
<!ATTLIST TargetPriorities
	testType CDATA #REQUIRED
	testCategory CDATA #IMPLIED
>

<!ELEMENT TargetList (Target+)>
<!ELEMENT Target EMPTY>
<!ATTLIST Target
 id IDREF #REQUIRED
>

<!ELEMENT CanCreate EMPTY>
<!ATTLIST CanCreate
 id IDREF #REQUIRED
>



<!--Queues-->

<!ELEMENT QueueCategory EMPTY>
<!ATTLIST QueueCategory 
  id ID #REQUIRED 
>

<!ELEMENT Queue (Name+, ProductionCategory*)>
<!ATTLIST Queue 
  id ID #REQUIRED 
  category IDREF #REQUIRED
	domain IDREF "settlement"
	base_threads CDATA #REQUIRED
	base_slots CDATA #REQUIRED
>


<!ELEMENT ProductionCategory EMPTY>
<!ATTLIST ProductionCategory 
  category IDREF #REQUIRED 
>


<!ELEMENT ProductionTime (#PCDATA)>
<!ATTLIST ProductionTime 
  shortenable (true | false) "true" 
>

<!ELEMENT Duration (#PCDATA)>
<!ATTLIST Duration
  shortenable (true | false) "true"
>

<!ELEMENT DisplayDuration (#PCDATA)>

<!ELEMENT Rewards (ResourceReward*, UnitReward*, ExperienceReward?)>

<!ELEMENT ResourceReward (#PCDATA)>
<!ATTLIST ResourceReward
  resource CDATA #REQUIRED
>

<!ELEMENT RandomizedResourceReward (#PCDATA)>
<!ATTLIST RandomizedResourceReward
  resource CDATA #REQUIRED
  norm_variance CDATA "0"
>

<!ELEMENT UnitReward (#PCDATA)>
<!ATTLIST UnitReward
  unit     CDATA #REQUIRED
>

<!ELEMENT ExperienceReward (#PCDATA)>

<!ELEMENT RandomizedExperienceReward (#PCDATA)>
<!ATTLIST RandomizedExperienceReward
  norm_variance CDATA "0"
>

<!ELEMENT SpecialAssignmentRewards (SpecialAssignmentResourceReward*, SpecialAssignmentUnitReward*, SpecialAssignmentExperienceReward?)>

<!ELEMENT SpecialAssignmentResourceReward (#PCDATA)>
<!ATTLIST SpecialAssignmentResourceReward
  resource CDATA #REQUIRED
  >

<!ELEMENT SpecialAssignmentUnitReward (#PCDATA)>
<!ATTLIST SpecialAssignmentUnitReward
  unit     CDATA #REQUIRED
  >

<!ELEMENT SpecialAssignmentExperienceReward (#PCDATA)>

<!ELEMENT AssignmentTests (ResourceProductionTest*, BuildingTest*, SettlementTest*, ArmyTest*, ConstructionQueueTest*, TrainingQueueTest*, MovementTest?, AllianceTest?, KillTest?, BattleTest?, ArmyExperienceTest?, ScoreTest?, SettlementProductionTest?, BuildingSpeedTest?)>

<!ELEMENT BuildingTest EMPTY>
<!ATTLIST BuildingTest
  building  CDATA #REQUIRED
  min_level CDATA "1"
  min_count CDATA "1"
>

<!ELEMENT ResourceProductionTest (#PCDATA)>
<!ATTLIST ResourceProductionTest
  resource CDATA #REQUIRED
>


<!ELEMENT SettlementTest EMPTY>
<!ATTLIST SettlementTest
  type      CDATA #REQUIRED
  min_count CDATA "1"
>

<!ELEMENT ArmyTest (#PCDATA)>
<!ATTLIST ArmyTest
  type      CDATA #REQUIRED
  min_count CDATA "1"
>

<!ELEMENT ConstructionQueueTest EMPTY>
<!ATTLIST ConstructionQueueTest
  building  CDATA #REQUIRED
  min_count CDATA "1"
  min_level CDATA "1"
>

<!ELEMENT TrainingQueueTest EMPTY>
<!ATTLIST TrainingQueueTest
  unit      CDATA #REQUIRED
  min_count CDATA "1"
>

<!ELEMENT MovementTest EMPTY>

<!ELEMENT AllianceTest EMPTY>

<!ELEMENT KillTest EMPTY>
<!ATTLIST KillTest
  min_units CDATA #REQUIRED
>

<!ELEMENT BattleTest EMPTY>

<!ELEMENT ArmyExperienceTest EMPTY>
<!ATTLIST ArmyExperienceTest
  min_experience CDATA #REQUIRED
>

<!ELEMENT ScoreTest EMPTY>
<!ATTLIST ScoreTest
  min_population CDATA #REQUIRED
>

<!ELEMENT BuildingSpeedTest EMPTY>
<!ATTLIST BuildingSpeedTest
  min_speed CDATA #REQUIRED
>

<!ELEMENT SettlementProductionTest EMPTY>
<!ATTLIST SettlementProductionTest
  min_resources CDATA #REQUIRED
>






<!--Webinterface: Production-->
<!ELEMENT Cost (#PCDATA | object)*>
<!ATTLIST Cost
  id IDREF #REQUIRED
  round CDATA "false"
>

<!ELEMENT UnitDeposit (#PCDATA | object)*>
<!ATTLIST UnitDeposit
  id IDREF #REQUIRED
>

<!ELEMENT object EMPTY>
<!ATTLIST object id IDREF #REQUIRED>

<!ELEMENT TrainingSpeedup (SpeedupCost+)>
<!ELEMENT ConstructionSpeedup (SpeedupCost+)>
<!ELEMENT ArtifactInitiationSpeedup (SpeedupCost+)>
<!ELEMENT TradingSpeedupCost EMPTY>
<!ATTLIST TradingSpeedupCost
  resource IDREF #REQUIRED
  amount   CDATA #REQUIRED
>

<!ELEMENT SpeedupCost EMPTY>
<!ATTLIST SpeedupCost 
	resource IDREF #REQUIRED
	amount   CDATA #REQUIRED
	hours    CDATA #REQUIRED 
>

<!ELEMENT Production (#PCDATA)>
<!ATTLIST Production
	id IDREF #REQUIRED
>

<!ELEMENT ExperienceProduction (#PCDATA)>

<!ELEMENT Capacity (#PCDATA)>
<!ATTLIST Capacity
  id IDREF #REQUIRED
>

<!ELEMENT ProductionBonus (#PCDATA)>
<!ATTLIST ProductionBonus
  id IDREF #REQUIRED
  domain IDREF "character"
>

<!ELEMENT ConstructionBonus (#PCDATA)>
<!ATTLIST ConstructionBonus
  domain IDREF "character"
>

<!ELEMENT ProductionStartBonus EMPTY>
<!ATTLIST ProductionStartBonus
  bonusOfferId  CDATA #REQUIRED
  duration      CDATA #REQUIRED
>

<!ELEMENT ConstructionStartBonus (#PCDATA)>
<!ATTLIST ConstructionStartBonus
  duration CDATA #REQUIRED
>

    <!--Ability-->
<!ELEMENT Ability EMPTY>
<!ATTLIST Ability
 id CDATA #REQUIRED
>

<!--Requirement-->
<!ELEMENT Requirement EMPTY>
<!ATTLIST Requirement id IDREF #REQUIRED min_level CDATA "0" max_level CDATA #IMPLIED>

<!--RequirementGroup-->
<!ELEMENT RequirementGroup (Requirement*)>

<!--Encumbrance-->
<!ELEMENT Encumbrance EMPTY>
<!ATTLIST Encumbrance id IDREF #REQUIRED value CDATA #REQUIRED>

<!--Combat-->
<!ELEMENT Initiative (#PCDATA)>
<!ELEMENT Attack (#PCDATA)>
<!ELEMENT CriticalDamage (#PCDATA)>
<!ATTLIST CriticalDamage 
  chance CDATA #REQUIRED
>
<!ELEMENT Armor (#PCDATA)>
<!ELEMENT Hitpoints (#PCDATA)>
<!ELEMENT Overrunnable (#PCDATA)>
<!ELEMENT Effectiveness (#PCDATA)>
<!ATTLIST Effectiveness 
  category IDREF #REQUIRED
>

<!--Common Leafs-->
<!ELEMENT Description (#PCDATA | p)*>
<!ATTLIST Description lang IDREF "en_US">
<!ELEMENT ShortDescription (#PCDATA | p)*>
<!ATTLIST ShortDescription lang IDREF "en_US">
<!ELEMENT Name (#PCDATA)>
<!ATTLIST Name lang IDREF "en_US">
<!ELEMENT Flavour (#PCDATA | p)*>
<!ATTLIST Flavour lang IDREF "en_US">
<!ELEMENT p (#PCDATA)>
<!ELEMENT Position (#PCDATA)>
<!ELEMENT Velocity (#PCDATA)>
<!ELEMENT ActionPoints (#PCDATA)>

<!--entities-->
<!ENTITY apst "&amp;#39;">
<!ENTITY auml "&amp;auml;">
<!ENTITY ouml "&amp;ouml;">
<!ENTITY uuml "&amp;uuml;">
<!ENTITY Auml "&amp;Auml;">
<!ENTITY Ouml "&amp;Ouml;">
<!ENTITY Uuml "&amp;Uuml;">
<!ENTITY szlig "&amp;szlig;">
